<h3>Events List</h3>

<table class="table table-hover table-bordered">
  <thead>
    <th>Name</th>
    <th>Date</th>
    <th>Users</th>

  </thead>
  <% @events.each do |event| %>
  <tr>
    <td>
      <%= event.name %>
    </td>
    <td>
      <%= event.event_date.localtime.strftime("%d-%m-%Y %H:%M:%S") %>
    </td>
    <td>
      <%= link_to 'View Attendees', event_users_path(event.id) ,:class => "btn" %>
    </td>
  </tr>
  <% end %>
</table>


<style>
  .btn {
    background-color:#79899a;
  }
</style>
