<h3>Events List</h3>

<table class="table table-hover table-bordered">
  <thead>
    <th>Name</th>
    <th>Date</th>

  </thead>
  <% @events.each do |event| %>
  <tr>
    <td>
      <%= event.name %>
    </td>
    <td>
      <%= event.event_date.localtime.strftime("%d-%m-%Y %H:%M:%S") %>
    </td>
  </tr>
  <% end %>
</table>
